.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    margin-top: 2%;
}

.right{
    width: 527px;
    padding: 3% 7%;
}

.image{
    height: 60vh;
    border-radius: 8px;
    box-shadow: -1px 0px 13px red;
}